Source: ros-kinetic-uav-simple-tracking
Section: misc
Priority: optional
Maintainer: Micha Sende <sende@lakeside-labs.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-catkin, ros-kinetic-cpswarm-msgs, ros-kinetic-position, ros-kinetic-roscpp
Homepage: https://wiki.ros.org/uav_simple_tracking
Standards-Version: 3.9.2

Package: ros-kinetic-uav-simple-tracking
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-cpswarm-msgs, ros-kinetic-position, ros-kinetic-roscpp
Description: A package that tracks a target with an unmanned aerial vehicle (UAV).
