Source: ros-kinetic-swarm-behaviors-velocity
Section: misc
Priority: optional
Maintainer: Micha Sende <sende@lakeside-labs.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cpswarm-msgs, ros-kinetic-geometry-msgs, ros-kinetic-roscpp, ros-kinetic-swarm-behaviors-position
Homepage: https://wiki.ros.org/swarm_behaviors_velocity
Standards-Version: 3.9.2

Package: ros-kinetic-swarm-behaviors-velocity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cpswarm-msgs, ros-kinetic-geometry-msgs, ros-kinetic-roscpp, ros-kinetic-swarm-behaviors-position
Description: A package that provides velocity related functionalities.
